.navbar-collapse{
  margin-left: 20%;
}

.GS{
    background-color: rgb(33, 44, 37, 100%);
    width:45%;
    height: 40%;
    
}
.GS:hover{
  color: black;
  background-color:rgb(241, 255, 224, 100%) ;
}
.GS a{
    color: white;
    display: inline-block;
}
.GS a:hover{
color: black;
}
@media (min-width: 768px) { 
    .GS {
      width: 90%;
      height: 10%;
    }
  }
 .Testimonials{
  background-color:rgb(71, 85, 54,100%) ;
  margin-left: 5px;
 }
 .services{
  margin-left: 5px;
 }
 .about{
  background-color: rgb(241, 255, 224, 100%);
 }

   .quest{
    background-color: rgb(71, 85, 54,100%);
    color: white;
   }
   .FAQ{
    background-color: rgb(241, 255, 224, 100%);
   }
   .links{
    background-color: rgb(241, 255, 224, 100%);
  }
  .medialink{
    width: 50px;
    height: 50px;
  }
  textarea{
    height: 120px;
  }
  .btn{
    background-color:rgb(71, 85, 54,100%) ;
    color: white;
  }
  
  @media (min-width: 768px) { 
    .foot {
     padding-top: 25%;
    }
  }
  .button{
    background-color: rgb(71, 85, 54,100%);
    color: white;
  }
  .button:hover{
    background-color: rgb(208, 238, 170);
  }
  .create{
    color: rgb(71, 85, 54,100%) ;
  }
  .loginSection{
    width: 100%;
    height: 100%;
  }
  .logo{
    padding-right: 53%;
  }
  .side{
    margin-top: 35%;
  }
  @media (min-width: 768px) { 

    .form-1 {
      background-color: transparent;
     }
  }
  .signin{
    background-color: transparent;
    color: black;
  }
  .column-2{
    background-color:rgb(208, 238, 170) ;
  }

  .forgot-container{
    margin-top:5%;
    height: auto;
  }

  .reset-container{
    height: auto;
    padding-bottom: 30px;
    margin-top:5%;

  }

.down{
  margin-top: 20px;
  width: 190px;
  height: 70px;
  background: #000;
  float: left;
  border-radius: 20px;
  position: relative;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  margin-left: 25%;
}

@media (min-width: 768px) { 
  .down{
   margin-left: 18%;
  }
}
.fas{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  
}
.one, .two{
  position: absolute;
  left: 70px;
}
.one{
  top: 20px;
  font-size: 12px;
}
.two{
  top: 35px;
  font-size: 16px;
}
.down:hover{
  filter: invert(100%);
}
.john{
  font-size: 50px;
  margin-top: 5px;
  margin-left: 40%;
}
.joh{
 font-size: large;
 margin-left: 40%;

}
.edit{
  background-color:rgb(241, 255, 224, 100%) ;
  margin-left: 40%;
  width: 20;
}
.jo{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: none;
}
.medi{
  background-color:white;
}

@media (min-width: 768px) { 
  .medi{
   margin-top: 30%;
  }
}
.card{
    background-color: rgba(71, 85, 54, 1);
   
}
.xh{
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

.xh:hover{
  background-color: rgba(71, 85, 54, 1);
}
.xx{
  background-color: rgba(255, 255, 255, 1);
}

.xx:hover{
  background-color: rgba(71, 85, 54, 1);
}
.colox{
  color: black;
}
.colox:hover{
  color: white;
}
.colo{
color: white;
}
.coloo{
  color: rgba(214, 255, 161, 1);
  }
  .butadd{
    background-color: rgba(214, 255, 161, 1);
    width: 5%;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    font-size: x-small;
    border: none;
    height: 6%;
    
    }
    .medic{
      background-color: rgba(241, 255, 224, 1)
    }
    @media (max-width: 768px) {
      .medic{
        background-color: white;
      }
    }
    .care{
      font-size: xx-large;
    }
    .caregiver{
      background-color: white;
      color: #000;
      border: none;
    }
    .sml{
      font-size: x-small;
    }
    .but-accept{
      background-color: rgba(214, 255, 161, 1);
      width: 30%;
      font-size: x-small;
      border: none;
      margin-left: 60%;
     
      }
      .medicc{
        background-color: rgba(241, 255, 224, 1)
      
      }
      .modal-title{
        background-color: rgba(71, 85, 54, 1);
      }
      .sec{
        background-color: rgba(221, 255, 177, 1)
      }
      .but{
        margin-left: 50%;
       
      }
      .btx{
        border: none;
        font-size: x-small;
        margin-left: 100%;
      }

      @media (max-width: 768px) {
        .btx{
         margin-left: 100%;
        }
      }
      .bus{
        margin-inline-end: 5px;
        
      }
      .btt{
        border: none;
        font-size: x-small;
        width: 70%;
      

      }
      .bg{
        background-color: rgba(238, 141, 140, 1);
      }
      .search{
       width: 40%;
       margin-right: 30%;
      border: none;
    
      }
